DBNAME=
DBUSER=
DBPASS=
DBHOST=
DBPORT=
DBENGINE=django.db.backends.postgresql
ENV=test
SD_SECRET_KEY=''
WEBSERVICE_API_TOKEN=''

export DBNAME DBUSER DBPASS DBHOST DBPORT DBENGINE ENV SD_SECRET_KEY WEBSERVICE_API_TOKEN
